div.smile0{
    position: absolute;
    left: 0px;
    top: 20px;
    width: 150px;
    height: 150px;
}

div.smile1{
    position: absolute;
    top: 20px;
    left: 200px;
    width: 150px;
    height: 150px;
}

div.smile2{
    position: absolute;
    top: 20px;
    left: 400px;
    width: 150px;
    height: 150px;
}

img.smile{
	height: 150px;
	width: 150px;
}
